.Primary-layout {
    height: 100vh;
    display: grid;
    color: #24292f;  
    background-color: #fff;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 70px 1fr 2fr 50px;
    grid-template-areas: 
    "header header header"
    "addTask taskList taskList"
    "addTask taskList taskList"
    "footer footer footer";
}

.Header-component {
    display: grid;
    color: #fff;
    grid-area: header;
    place-items: center;
    background-color: #24292f;
}

.Header-logo {
    cursor: default;
    font-size: 22px;
}

.Form-component {
    grid-area: addTask;
    border-right: 1px solid #d0d7de;
}

.Form-title {
    display: grid;
    padding: 16px;
    place-items: center;
    background-color: #f6f8fa;
}

.Main-component {
    grid-area: taskList;
}

.Footer-component {
    grid-area: footer;
    border-top: 1px solid #d0d7de;
}