.Primary-layout {
    height: 100vh;
    display: grid;
    color: #24292f;
    background-color: #fff;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 70px 1fr 2fr 50px;
    grid-template-areas:
        "header header header"
        "sidebar body body"
        "sidebar body body"
        "footer footer footer";
}